<div class="row">
	<div class="col-12 col-sm-12 col-md-6 col-lg-4">
		<form action="/change-password" method="POST">
			<div class="form-floating mb-3">
				<input
					name="currentPassword"
					type="password"
					class="form-control"
					id="currentPassword"
					placeholder="Current Password"
				/>
				<label for="currentPassword">Current Password</label>
			</div>
			<div class="form-floating mb-3">
				<input
					name="newPassword"
					type="password"
					class="form-control"
					id="newPassword"
					placeholder="New Password"
				/>
				<label for="newPassword">New Password</label>
			</div>
			<button type="submit" class="btn btn-primary">
				Change Password
			</button>
		</form>
	</div>
</div>
