<div class="row">
	<div class="col-12 col-sm-12 col-md-6 col-lg-4">
		<form action="/recover-password" method="POST">
			<div class="form-floating mb-3">
				<input
					type="email"
					name="email"
					class="form-control"
					id="email"
					placeholder="Email"
				/>
				<label for="email">Email</label>
			</div>
			<button type="submit" class="btn btn-primary mb-3">Login</button>
			<div class="d-flex justify-content-between">
				<a href="/login" class="text-decoration-none">Login</a>
				<a href="/register" class="text-decoration-none">Sign up</a>
			</div>
		</form>
	</div>
</div>
